.container-sidebar{
    min-height: 100vh;
    width: 250px;
    background-color: #011627;
    transition: 0.5s;
}

.container-sidebar li {
    list-style-type: none;
    
}

.container-sidebar li .side-link {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 10px;
    display: block;
}

.container-sidebar ul li .side-link:hover,
ul li .side-link.active {
    background: #172b4d;
}

.dark .container-sidebar{
    background-color: #d6cccc;
}

.dark .container-sidebar li .side-link {
    list-style-type: none;
    color: #222;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 10px;
    display: block;
}

.dark ul li .side-link:hover,
ul li .side-link.active {
    background: #abacad;
}